.main-btn {
  width: 153px;
  height: 48px;
  border-radius: 24px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
