@font-face {
    font-family: livvic-bold;
    src: url(../../font/livvic/Livvic-Bold.ttf);
}
@font-face {
    font-family: livvic-semiBold;
    src: url(../../font/livvic/Livvic-SemiBold.ttf);
}
@font-face {
    font-family: livvic-italic;
    src: url(../../font/livvic/Livvic-MediumItalic.ttf);
}